html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gotham SSm A','Gotham SSm B',Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 23px;
  color: #464646;
}

*::selection {
  color: #000;
  background: #dcdcdc;
}